body{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.light-black{
    color: rgb(62, 62, 62);
}
.book-now{
    color: #3F87F5;
    background-color: white;
    font-weight: 600;
    padding-left: 40px;
    padding-right: 40px;
}
.font-stroke{
    -webkit-text-stroke: .5px rgb(3, 3, 3);
}
.dark-blue{
    color: rgba(35, 29, 79, 1);
}
.read-more{
    color: rgb(246, 246, 250);
    background-color: rgb(252, 97, 70);
    font-weight: 600;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 50px;
}
.choose-plan{
    color: rgb(3, 108, 245);
    background-color: rgb(231, 252, 252);
    font-weight: 600;
    padding-left: 45px;
    padding-right: 45px;
    border-radius: 50px;
    font-size: 0.9em;
}
.light-blue{
    color: rgba(82, 67, 194, 1);
}
.border-round{
    border-radius: 1.5em;
}
.hot-position{
    position: relative;
    left: 190px;
    bottom: 65px;
}
.footer-position{
    position: relative;
    left: 30%;
}
.footer-icon{
    width: 200px;
}